.gm-style-iw {
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
  width: 160px;
  padding: 12px;
  background-color: #FFFFFF;
  text-align: center; }
  .gm-style-iw:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    display: block;
    width: 12px;
    transform: translateX(-50%);
    border: 0;
    border-top: 8px solid #FFFFFF;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }
  .gm-style-iw .iw-image {
    margin-top: -40px; }
    .gm-style-iw .iw-image img {
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      max-width: 56px; }
  .gm-style-iw .iw-title {
    margin-top: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #3C4858; }
  .gm-style-iw .iw-subtitle {
    margin-top: 4px;
    font-size: 12px;
    line-height: 12px;
    color: #8492A6; }
    .gm-style-iw .iw-subtitle span {
      width: 2px;
      height: 2px;
      background-color: #8492A6;
      margin: 0 4px;
      display: inline-block;
      vertical-align: middle; }
  .gm-style-iw .iw-distance {
    margin-top: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #399FF4; }
  .gm-style-iw .iw-progress-bar {
    width: 100%;
    height: 4px;
    margin-top: 14px;
    position: relative; }
    .gm-style-iw .iw-progress-bar .traffic {
      height: 100%;
      float: left; }
      .gm-style-iw .iw-progress-bar .traffic.green-traffic {
        background-color: #0DD071; }
      .gm-style-iw .iw-progress-bar .traffic.yellow-traffic {
        background-color: #FFD429; }
      .gm-style-iw .iw-progress-bar .traffic.red-traffic {
        background-color: #FB395A; }
      .gm-style-iw .iw-progress-bar .traffic.dark-traffic {
        background-color: #CD1736; }
  .gm-style-iw .iw-note {
    margin-top: 10px;
    font-size: 10px;
    line-height: 1;
    color: #5C687A; }
